* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.to-do-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

.text-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.text-box input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.text-box button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.text-box button:hover {
  background-color: #218838;
}

ol {
  list-style-type: none;
  padding-left: 0;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.taskItem li {
  font-size: 16px;
  color: #555;
}

.taskItem button {
  background-color: transparent;
  color: #333;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.taskItem button:hover {
  color: #007bff;
}
